EXPO_PUBLIC_SUPABASE_URL=https://zhyaaddoqrnxhfavxhty.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpoeWFhZGRvcXJueGhmYXZ4aHR5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwOTE1OTYsImV4cCI6MjA4ODY2NzU5Nn0.dIeanWt5nUZX_CMsYqP3GASK-IKrfTRGhxabx5ueEGY
